<style type="text/css">
    .context-box{
        width:200px;
        position: absolute;
        padding: 15px 20px;
        background-color:#F2F2F2;
        box-shadow: 10px 10px 5px #888888;
        display: none;
    }
    ._close{
        cursor:pointer;
        float:right;
    }
 /*====== TREE ======*/

 #tree, ul {
    margin: 2em 0 0 2em;
    width: 20em;
     list-style-type: none;
}

#tree > li {
    padding-bottom: 3px;
    margin-bottom: 0.5em;
    /* border-bottom: 1px solid #ccc; */
}

#tree  li > a {
    color: #000;
    text-decoration: none;
}

#tree  li > a:after {
    content: '+';
    padding-left: 4px;
    font-weight: bold;
}

#tree  li >a.active:after {
    content: '-';
    padding-left: 4px;
    font-weight: bold;
}

#tree li ul {
    margin: 0.5em 0 0.5em 2em;
    display: none;
}

.get-context-menu{
    cursor: pointer;
}
</style>
<section id="document_view">
    <div class="container">
        <div class="row text-right">
            <h2>Documentation</h2>
            <small>Document your effort with ease.</small>
        </div>
        <hr>
        <% flash.get('success').forEach(function (message) { %>
          <div class="alert alert-success">
              <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
              <strong>Well done!</strong> <%- message %>
          </div>
          <% }) %>
          <% flash.get('error').forEach(function (message) { %>
          <div class="alert alert-danger">
              <button class="close" data-dismiss="alert"><i class="pci-cross pci-circle"></i></button>
              <strong>Oh snap!</strong> <%- message %>
          </div>
        <% }) %>
        <div class="row">
            <%if(data.length == 0){%>
                <div class="col-md-12">
                    <h3 class="text-center">Welcome to Dockety-Wiki!</h3>
                    <h4>
                        Lets start with creating your first document.
                        <a href="#" class="create_new_btn btn btn-default pull-right" data-path="root" data-toggle="modal" data-target="#createNewModal">Create Directory</a>
                    </h4>
                    <small></small>
                </div>
            <%}else{%>
                <div class="col-md-4" id="rendered-tree-cont">
                    <div class="hide-this" id="tree-data-json">
                        <%= JSON.stringify(data) %>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</section>
   <!-- Context-menu -->
    <div class="context-box">
        <span class="pull-right _close"><i class="glyphicon glyphicon-remove-circle"></i></span><br>
        <ul class="list-group">
            <a href="#" class="create_new_btn" data-toggle="modal" data-path="" data-target="#createNewModal"><li class="list-group-item">Directory</li></a>
            <a href="#" class="create_new_btn" data-toggle="modal" data-path="" data-target="#createNewModal"><li class="list-group-item">File</li></a>
        </ul>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createNewModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/createNew" id="createNewtypeForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i></button>
                        <h4 class="modal-title modal_mike">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="path" id="path">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" name="title" id="title">
                        </div>
                        <div class="form-group">
                            <label for="summary">A few words as summary:</label>
                            <textarea class="form-control" name="summary" rows="5" id="summary"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
