<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Markdown' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLESe-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLESe END-->
  </head>

  <body>
    <div class="container" id="markdown_container">
        <div class="top-nav">
            <small>COPYRIGHT &copy; 2016 by Dockety.inc</small>
        </div>
    <%- body %>
    </div>
    <!--SCRIPTSe-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.1.1.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <!--SCRIPTSe END-->
  </body>
</html>
