<ul id="main-nav" class="pull-right">
    	<li class="dropdown new-doc-btn">
    		<a href="#" class="dropdown-toggle a" data-toggle="dropdown">New Document <span class="caret"></span></a>
        	<ul class="dropdown-menu">
			    <li><a href="/markdown" class="a" target="_blank">Markdown</a></li>
			    <li><a href="/wysiwyg" class="a" target="_blank">WYSIWYG</a></li>
			</ul>
    	</li>
    
    <a href="/dashboard" class="menu-itm a" target="_blank"><li>Dashboard</li></a>
    <a href="/dashboard" class="menu-itm a" target="_blank"><li>Media</li></a>
    <a href="/dashboard" class="menu-itm a" target="_blank"><li>Settings</li></a>
</ul>