<h4 class="text-center">Privacy policy</h4>
<p>
We respect your privacy and do not tolerate spam and will never sell, rent, lease or give away your information (name, address, email, etc.) to any third party. Nor will we send you unsolicited email.
</p>
<p>
If you choose to give your name and email address into one or more of our site's registration forms, then we will send you emails relating to the mailing list(s) or service(s) you joined and the Keyword Expert newsletter, as well as marketing offers from time to time. You may opt out of receiving future mailings from our mailing lists.
</p>
<hr>
<h5><b>How do we protect your information?</b></h5>
<p>
In order to prevent unauthorized access, We uses strict security procedures in the storage and disclosure of information which you have given to us. We take all reasonable precautions to ensure the security of personal data stored on our system.
</p>
<p>
All your personal information is password-protected - only registered users and our authorized staff have access to this information. As a registered user, you will be able to edit or delete your personal information details at any time using your own ID and password.
</p>

<hr>

<h5><b>Publicly available information</b></h5>
<p>
	Dockety allows you to broadcast your articles publicly, for people to know about you and your work. Your note/article will only be publicly visible if you explicitly make an article public from the settings given. By default any posts created are private i.e. only visible to the author.
</p>
<hr>
<h5><b>Contacting us</b></h5>
<p>
If you have any questions about this privacy statement, the practices of Dockety, or your dealings with this web site, <a href="/contact-us">please contact us</a>.
</p>
<hr>
<h5><b>Changes to this Privacy Policy</b></h5>
<p>
This Privacy Policy came in effect from 3rd December 2016 and is continued to follow till date. Any updates to this policy will be published on this page.
</p>