
<style type="text/css">
	/* horizontal panel*/

.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 50%;
  max-width:90%;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  width: 8px;  
  background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 50%;
  min-height: 100vh;
  background: #eee;
  overflow: auto;
}

</style>
<label>Horizontal Splitter Panes:</label>
<div class="container-fluid">
    <div class="panel-container">

        <div class="panel-left" id="editor" contenteditable="true">
            
        </div>

        <div class="splitter">
        </div>

        <div class="panel-right" id="viewer">
            right panel
        </div>
  	</div>
</div>