<style type="text/css">
	.mostRecenr-post{
		border: 2px solid #333;
		/*padding:*/
	}
	.big-postTitle{
		padding: 10px 15px;
		margin-bottom: 15px;
		background: silver;
	}
	.postBody{
		padding: 5px;
	}

	.cta-createDoc{
		text-decoration: none;
		color: #333;
		border:1px solid #333;
		padding: 20px;
	}

/* Make the <ul>  <li> skeleton look like a TREE list*/
#tree {
    margin: 10px 0 0 2em;
}

#tree > li {
    padding-bottom: 3px;
}

#tree  li > a {
    color: #000;
    text-decoration: none;
}

#tree li ul {
    margin: 0.5em 0.5em 0.5em 2em;
    /*display: none;*/
    list-style-type: none;
}
.tree_container{
	padding-bottom: 50px;
	overflow-x: scroll;
}

</style>
    <div class="row">
        <div class="col-md-6">
        	<!-- Avatar -->
	        <div class="col-md-3">
	        	<div class="thumbnail">
				    <a href="/dashboard">
				        <img src="<%= req.session.User.avatar %>" alt="Gravatar" style="width:100%">
				    </a>
			    </div>
	        </div>
	        <!-- User info -->
	        <div class="col-md-9">
	        	<span class="h3"><%= req.session.User.full_name %></span> &nbsp; &nbsp; &nbsp;<small class=""><a class="a" href="#"><i>( Logout )</i></a></small>
	        	<div>~ <i><%= typeof req.session.User.about_me == 'undefined' ? 'No self summary added yet!': req.session.User.about_me %></i></div>
	        	<small><%= req.session.User.email %></small>
	        </div>
        </div>
        <div class="col-md-6">
            <!-- <h3 class="text-center">Markdown editor</h3> -->
            <%include ../partials/dashboard_menu.ejs %>
        </div>
    </div>
    <hr>
	<section>
		<div class="col-md-5">
	    	<h4>Most Recent Posts</h4>
	    	<div class="row">
		    	<div class="col-md-12">
		    		<p class="big-postTitle">Getting Started with Dockety</p>
		    	</div>
		    </div>
	    	<div class="document-wraper">
	    		<div class="jumbotron" style="padding: 40px;">
				  	<div class="container-fluid">
				  		<h2 class="text-center" style="margin: 0px;">Welcome aboard!</h2>
				    	<h5 class="text-center" style="margin-bottom: 25px; font-weight: 100;">
				    		Lets start with creating your first document. There are two types of editor we use: Markdown and WYSIWYG. Pick whichever you are comfortable with. 
				    	</h5>
				    	<div class="col-md-12 text-center">
				    		<a class="btn btn-default" href="/markdown">
  								<i class="fa fa-pencil-square-o fa-fw fa-lg"></i> Markdown
  							</a>
  							<a class="btn btn-default" href="/wysiwyg">
  								<i class="fa fa-pencil-square-o fa-fw fa-lg"></i> WYSIWYG
  							</a>
				    	</div>
				  	</div>
				</div>
		    </div>
	    </div>
	    <div class="col-md-7">
	    	<h4>Your document tree</h4>
	    	<div class="tip tip-default">
	    		<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
	    		<b>Note: </b>&nbsp;LClick on document to preview. 
	    		<a href="#" class="tip-close"><i class="fa fa-times" aria-hidden="true"></i></a>
	    	</div>
	    	<div class="col-md-12 tree_container">
	    		<noscript>
	    			<p><b>Sorry</b>, your browser does not support JavaScript! Without JavaScript we cannot serve you our best.
	    			Please consider running it on Google chrome, Firefox or any other modern web browser that supports JavaScript. In case if JavaScript is manually turned off, please consider turning it back on.</p>
	    		</noscript>
	    		Loading content <i class="fa fa-refresh fa-spin fa-fw"></i>
	    	</div>
	    </div>
	</section>

