<a href="#" data-toggle="tooltip" data-placement="left" title="Edit" style="position: fixed; top: 10px; right: 10px;"><i class="fa fa-pencil-square fa-3x" aria-hidden="true"></i></a>
<a href="#" data-toggle="tooltip" data-placement="left" title="Back to Dashboard" style="position: fixed; top: 50px; right: 10px;"><i class="fa fa-arrow-circle-left fa-3x" aria-hidden="true"></i></a>
<%- content %>
